@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Babysitters is the perfect HTML Template for your next Child Care business. Babysitters HTML containes 31 valid HTML pages with bonus 31 well organized PSDs">
    <meta name="keywords" content="baby, babysitter html, care, caregiver, child, directory html, flat, job html, job listing, kids, light, nanny html">

    <title>Babysitters - Jobs Directory</title>
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    @Styles.Render("~/bundles/commoncss")
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- >>Header/Nagigation bar-->
    @Html.Partial("_NavBar")
    <!-- Header/Navigation bar -->
    <!-- BODY -->
    @RenderBody()
    <!-- BODY -->
    <!-- >> footer -->
    <br />
    @Html.Partial("_Footer")
    <!--  footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/templatejs")
    @RenderSection("scripts", required: false)

 


    @*1q2w3e!!*@

</body>
</html>